<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.applescript.object</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>iCal</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>iCal</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>ipt_iCalCalendarName</key>
		<string>my birthdays</string>
		<key>ddn_eventType</key>
		<string>0</string>
		<key>ddn_alertType</key>
		<string>0</string>
		<key>ddn_alertTime_hour</key>
		<integer>4</integer>
		<key>ddn_alertTime_minute</key>
		<integer>0</integer>
		<key>ddn_alertTime_part</key>
		<integer>1</integer>
		<key>ddn_alarm</key>
		<string>1</string>
		<key>ddn_alert_format</key>
		<integer>0</integer>
		<key>ipt_alert_format</key>
		<string></string>
		<key>spr_reminder</key>
		<string>0</string>
		<key>ddn_reminder_interval</key>
		<string>0</string>
		<key>ddn_reminder_format</key>
		<string>0</string>
		<key>ipt_reminder_format</key>
		<string></string>
		<key>cbx_url</key>
		<true/>
		<key>cbx_export</key>
		<false/>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string>All entries of the calendar will be deleted.</string>
		<key>AMDResult</key>
		<string>Optionally exports the birthday calendar to a file and returns the reference to the file.</string>
		<key>AMDSummary</key>
		<string>Creates a birthday calendar in iCal from the contacts in Address Book and adds an alarm.</string>
	</dict>
	<key>AMIconName</key>
	<string>icon</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>iCalBirthdays</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.applescript.alias-object</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don&apos;t Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>iCalBirthdays version 1.7.1, Copyright (c) 2008-2009, thatswinnie.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.thatswinnie.Automator.iCalBirthdays</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.7.1</string>
	<key>NSPrincipalClass</key>
	<string>AMAppleScriptAction</string>
</dict>
</plist>
